<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/campgrounds">Campgrounds</a>
                <a class="nav-link" href="/campgrounds/new">Create campground</a>
            </div>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-link" href="https://github.com/kartik3110/YelpCamp">About</a>
            <% if (!currentUser) { %>
                <a class="nav-link" href="/login">Sign In</a>
                <a class="btn btn-primary" href="/register">Join Free</a>
                <% } %>
                    <% if (currentUser) { %>
                        <a class="nav-link disabled" href="/logout">
                            Hi, <%= currentUser.username %>
                        </a>
                        <a class="btn btn-primary" href="/logout">Logout</a>
                        <% } %>
        </div>
    </div>
</nav>