<% layout('layouts/boilerplate') %>
    <!-- this code gets an error object passed to it called 'err' -->
    <div class="row">
        <div class="col-8 offset-2">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%=err.message%>
                </h4>
                <% if (process.env.NODE_ENV !=="production" ) { %>
                    <p>
                        <%= err.stack %>
                    </p>
                    <% } %>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-danger mt-3">
                                Go back
                            </button>
                        </div>
            </div>
        </div>
    </div>
    <script>
        const bttn = document.querySelector('.btn')
        bttn.addEventListener('click', () => {
            window.history.back();
        })
    </script>