<% layout('layouts/boilerplate') %>

    <h1>All campgrounds</h1>
    <a href="/campgrounds/new">
        ADD CAMPGROUND!
    </a>
    <ul>
        <% for( let camp of allCamps) { %>
            <li>
                <a href="/campgrounds/<%=camp._id%>">
                    <%= camp.title %>
                </a>
            </li>
            <% } %>
    </ul>