<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= foundCamp.title %>
    </title>
</head>

<body>
    <h1>
        <%= foundCamp.title %>
    </h1>
    <h2>
        <%= foundCamp.location %>
    </h2>

    <a href="/campgrounds">
        back to home
    </a>
</body>

</html>