<% layout('layouts/boilerplate') %>

    <h1 class="mb-3">Welcome Back!</h1>
    <form action="/login" method="post" class="needs-validation" novalidate>

        <div class="mb-3">
            <label class="form-label" for="username">Username: </label>
            <input type="text" name="username" id="username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">Password: </label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>

        <button class="btn btn-primary">Log In</button>
        <div class="mt-3">
            <a href="/register" class="text-decoration-none">new? register here</a>
        </div>
    </form>